.idea/*
__pycache__/
day2/__pycache__/
day2/shop/__pycache__/
day2/shop/login_pack/__pycache__/
day7/lib/__init__.pyc
day7/lib/aa.pyc
script/shop/__init__.pyc
script/shop/shop_pack/__init__.pyc
script/shop/shop_pack/shopping.pyc
script/shop/user_login_pack/__init__.pyc
script/shop/user_login_pack/login.pyc
script/shop/user_login_pack/my_conf.pyc
script/socket_learn/__init__.pyc
